/* tables */


body
{
  margin:0;
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-size: 8pt;
}

#overall{background-color:#EFEFEF }
a{text-decoration: none;color:#333333;}
select{width:150px;}
label.paging{color:grey; font-size: 12px;}
label.paging:hover{cursor:pointer;}
a.submit:hover{cursor:pointer;}
label.button:hover{cursor:pointer;}
img{border: 0 none;}
img:hover{cursor:pointer;}

ul{list-style:none; display:inline; color:black;}
li{padding: 0 10px 0 10px;display:inline; cursor: pointer; color:#343434;}

/*Table Styles */
table.tablesorter {font-family:arial;margin:10px 0pt 5px;font-size: 8pt;width: 100%;text-align: center;}
.tablesorter thead tr th, table.tablesorter tfoot tr th, table.tablesorter tbody tr th {background-color: #D4D4D4;font-size: 8pt;padding: 4px;border-style: solid;border-color: grey;border-width: 1px;}
table.tablesorter thead tr .header {background-image: url(../images/bg.gif);background-repeat: no-repeat;background-position: center right;cursor: pointer;}
table.tablesorter tr:hover{cursor:pointer; background-color:#EEEEEE;}
table.tablesorter tr{color: #3D3D3D;cursor:pointer; background-color:white;}
table.tablesorter tr.green{color:black;cursor:pointer;background-color:#c5fad9;}
table.tablesorter tr.green:hover{color:black;cursor:pointer;background-color:#a8fac6;}
.tablesorter tbody td {padding: 4px;vertical-align: top;border-width: 1px;border-style: solid;border-color: #CDCDCD;white-space:no-wrap;vertical-align: middle;back}
.tablesorter tbody td.change {background-color:#ffff97;padding: 4px;vertical-align: top;border-width: 1px;border-style: solid;border-color: #CDCDCD;white-space:no-wrap;vertical-align: middle;back}
table.tablesorter tbody tr.odd td {background-color:#F7D7B7;}
table.tablesorter thead tr .headerSortUp {background-image: url(../images/asc.gif);}
table.tablesorter thead tr .headerSortDown {background-image: url(../images/desc.gif);}

table.tablesorter_horizontal {font-family:arial;margin:10px 0pt 5px;font-size:8pt;width:100%;text-align:center;}
table.tablesorter_horizontal th {background-image: url(../images/bg.gif);background-repeat: no-repeat;background-position:center right;cursor:pointer;}
table.tablesorter_horizontal td {padding:4px;vertical-align:top; border-width:1px; border-style:solid; border-color:#CDCDCD; white-space:no-wrap; vertical-align: middle;}
table.tablesorter_horizontal tr:hover{cursor:pointer; background-color:#EEEEEE;border-width:1px; border-style:solid; border-color:#CDCDCD;}


.inputError{background-color:red;}
.inputChange{background-color:#ffff97;}
.inputFine{background-color:white;}
.asc {background-image: url(../images/asc.gif);background-repeat: no-repeat;background-position: center right;}
.desc {background-image: url(../images/desc.gif);background-repeat: no-repeat;background-position: center right;}



label{color:black; font-size:10px;}
.title{background:url(../images/iconbar-back.gif) left top repeat-x;}
.back_icon{background-image:url(../images/orange_bg.jpg); background-repeat: repeat-x;}


.no_hover tr:hover {background-color: white; border-style: hidden; border-width: 0px;}

.grey th{background-color: #EFEFEF;}
.none th {background-color: #F7A710;font-size: 8pt;padding: 4px;border-style: solid;border-color: #CDCDCD;border-width: 1px;}

.no_display{display:none;}
.display{display:inline;}

.n-sub{margin: 5px 0 0 5px; color: #333333;}
.sub{padding-top: 50px; border-top: solid;border-color: #CDCDCD; border-width: 1px; padding: 0 0 5px 50px; color:#ff44ff; background-image:  background-repeat:no-repeat; display: block; padding: 4px 0 4px 10px;}
.sub a {color:#333333; font-weight: normal;  }
.sub_bottom {border-bottom: solid;border-color: #CDCDCD; border-width: 1px;}

.orange_label{color:gray; font-size:12px;}
.menu_top{font-size: 10px; color:#333333;}

.errors
{
  width:95%;
  color:red;
  font-size:12px;
  font-weight:normal;
  text-align:left;
  margin-bottom:5px;
  vertical-align:middle;
}

.filterError
{
  overflow-y:hidden;
  overflow-x:hidden;
  padding-top:0px;
  width:100%;
  color: red;
}

.responseMessageText
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: black;
  font-weight: bold;
  display: list-item;
  list-style: square;
  padding: 5px 0 0 25px;
  margin: 5px 0 0 25px;
}

.errorText
{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: red;
}

.errorbackground
{
  background-color:black;
}

.button_input
{
  background: transparent url('../images/buttonUpRight.gif') no-repeat scroll top right;
  float: left;
  height: 24px;
  width: 140px;
  margin-right: 6px;
  padding-right: 18px; /* sliding doors padding */
  text-decoration: none;
  font-size:11px;
  font-weight:bold;
}

.button_input span
{
  background: transparent url('../images/buttonUpSpan.gif') no-repeat;
  display: block;
  line-height: 14px;
  padding: 5px 0 5px 18px;
  font-size:11px;
  font-weight:bold;
  white-space: nowrap;
}

.button_inputHover
{
  background: transparent url('../images/buttonDownRight.gif') no-repeat scroll top right;
  float: left;
  height: 24px;
  width: 140px;
  margin-right: 6px;
  padding-right: 18px; /* sliding doors padding */
  text-decoration: none;
  font-size:11px;
  font-weight:bold;
  cursor: pointer;
}

.button_inputHover span
{
  background: transparent url('../images/buttonDownSpan.gif') no-repeat;
  display: block;
  line-height: 14px;
  padding: 5px 0 5px 18px;
  font-size:11px;
  font-weight:bold;
  color: #3BA763;
  white-space: nowrap;
}

.button_inputDisabled
{
  background: transparent url('../images/buttonDownRight.gif') no-repeat scroll top right;
  float: left;
  height: 24px;
  width: 140px;
  margin-right: 6px;
  padding-right: 18px; /* sliding doors padding */
  text-decoration: none;
  font-size:11px;
  font-weight:bold;
  cursor: default;
}

.button_inputDisabled span
{
  background: transparent url('../images/buttonDownSpan.gif') no-repeat;
  display: block;
  line-height: 14px;
  padding: 5px 0 5px 18px;
  font-size:11px;
  font-weight:bold;
  color: #666666;
  white-space: nowrap;
}

div.hiddenDetails
{
  padding:10px;
  border:5px solid gray;
  margin:0px;
  position:absolute;
  background: white;
  right:30%;
}
