.detailTitle
{
  font-size: 12px;
  font-weight:bold;
  padding: 10px;
  align:center;
}

.successMessage
{
  padding-bottom:0px;
  padding-top:10px;
  padding-left:25px;
  color:#3BA763;
  font-size:14px;
}

.errorMessage
{
  padding-bottom:0px;
  padding-top:10px;
  padding-left:25px;
  color:red;
  font-size:14px;
}

table.detailTable
{
  font-size: 11px;
  vertical-align: middle;
}

table.detailTable tbody th
{
  text-align:right;
  padding-right:10px;
  vertical-align:middle;
  padding-top:5px;
  font-size: 11px;

}

table.detailTable tbody td
{
  text-align:left;
  vertical-align:middle;
  padding-top:5px;
  font-size: 11px;

}

.detailsFieldSet
{
  font-size: 11px;
}

.detailsFieldSetLegend
{
  font-size: 12px;
  color:#3BA763;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
}

.dateTextField
{
  width:65px;
  background-color:white;
}

.dateTextField_change
{
  width:65px;
  background-color:#ffff97;
}

.dateTextField_error
{
  width:65px;
  background-color:red;
  color:white;
}

.smallTextField
{
  width:50px;
  background-color:white;
}

.smallTextField_change
{
  width:50px;
  background-color:#ffff97;
}

.smallTextField_error
{
  width:50px;
  background-color:red;
  color:white;
}

.textField
{
  width:150px;
  background-color:white;
}

.textField_change
{
  width:150px;
  background-color:#ffff97;
}

.textField_error
{
  width:150px;
  background-color:red;
  color:white;
}

.characterTextField
{
  width:15px;
  background-color:white;
  text-align:center;
}

.characterTextField_change
{
  width:15px;
  background-color:#ffff97;
  text-align:center;
}

.characterTextField_error
{
  width:15px;
  background-color:red;
  text-align:center;
  color:white;
}

.largeTextField
{
  width:250px;
  background-color:white;
}

.largeTextField_change
{
  width:250px;
  background-color:#ffff97;
}

.largeTextField_error
{
  width:250px;
  background-color:red;
  color:white;
}

.comboField
{
  width:200px;
  background-color:white;
}

.comboField_change
{
  width:200px;
  background-color:#ffff97;
}

.comboField_error
{
  width:200px;
  background-color:red;
  color:white;
}

.smallComboField
{
  width:100px;
  background-color:white;
}

.smallComboField_change
{
  width:100px;
  background-color:#ffff97;
}

.smallComboField_error
{
  width:100px;
  background-color:red;
  color:white;
}

.mediumComboField
{
  width:150px;
  background-color:white;
}

.mediumComboField_change
{
  width:150px;
  background-color:#ffff97;
}

.mediumComboField_error
{
  width:150px;
  background-color:red;
  color:white;
}

.largeComboField
{
  width:250px;
  background-color:white;
}

.largeComboField_change
{
  width:250px;
  background-color:#ffff97;
}

.largeComboField_error
{
  width:250px;
  background-color:red;
  color:white;
}

.largerComboField
{
  width:300px;
  background-color:white;
}

.largerComboField_change
{
  width:300px;
  background-color:#ffff97;
}

.largerComboField_error
{
  width:300px;
  background-color:red;
  color:white;
}

.extraLargeComboField
{
  width:350px;
  background-color:white;
}

.extraLargeComboField_change
{
  width:350px;
  background-color:#ffff97;
}

.extraLargeComboField_error
{
  width:350px;
  background-color:red;
  color:white;
}

.evenLargerComboField
{
  width:800px;
  background-color:white;
}

.evenLargerComboField_change
{
  width:400px;
  background-color:#ffff97;
}

.evenLargerComboField_error
{
  width:400px;
  background-color:red;
  color:white;
}

.textAreaField
{
  background-color:white;
}

.textAreaField_change
{
  background-color:#ffff97;
}

.textAreaField_error
{
  background-color:red;
  color:white;
}

.checkBoxField
{
  background-color:white;
}

.checkBoxField_change
{
  background-color:#ffff97;
}

.checkBoxField_error
{
  background-color:red;
  color:white;
}

.hoverPopupDiv
{
   z-index:999;
   visibility:hidden;
   position:absolute;
   top:50px;
   left:0px;
   filter:alpha(opacity = 90);
   -moz-opacity:.90;
   opacity:.90;
   border-color: #BEC1DA;
   border-width: 3px;
   border-style: solid;
   background-color:#646A96;
}

table.helpPopup
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color:white;
  text-align: center;

}

.table.helpPopup tr td.titlePop
{
  font-weight: bold;
  text-align: center;
}

.cover
{
   z-index:999;
   visibility:hidden;
   position:absolute;
   top:2;
   left:0;
   filter:alpha(opacity=70);
   -moz-opacity:.70;
   opacity:.70;
   background-color: gray;
}