.cross_proj_nav_div
{
  float: right;
  position: relative;
  padding-right: 10px;
}

.cross_proj_nav_div_layout .cross_proj_nav_div_layout_left
{
  background: url(../../images/cross_product/icons_left.gif) no-repeat;
  padding-left:15px;
  height:35px;
  float: left;
}
.cross_proj_nav_div_layout .right
{
  background-image: url(../../images/cross_product/icons_right.gif);
  background-position: top right;
  background-repeat: no-repeat;
  height:35px;
}
.cross_proj_nav_div_layout .middle
{
  width: 100px;
  background: url(../../images/cross_product/icons_middle.gif) repeat-x;
  height:35px;
}

.cross_proj_nav_div .product_logos
{
  position: absolute;
  top: 5px;
  left: 6px;
}

a img
{
  border: 0;
}