
table.tablesorter
{
  font-family:arial;
  margin:10px 0pt 5px;
  font-size: 8pt;
  width:100%;
  text-align: center;
}

.tablesorter th
{
  background-color: #D4D4D4;
  font-size: 8pt;
  padding: 4px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.tablesorter td
{
  color: #3D3D3D;
  padding: 4px;
  vertical-align: top;
  border-width: 1px;
  border-style: solid;
  border-color: #CDCDCD;
  white-space:no-wrap;
}

.viewerTextarea
{
  width: 400px;
  height: 250px;
  border-width: 1px;
  border-style: solid;
  border-color: #CDCDCD;
  background-color: WHITE;
  white-space:no-wrap;
  overflow: hidden;
}

.viewerTextarea_change
{
  width: 400px;
  height: 250px;
  border-width: 1px;
  border-style: solid;
  border-color: #CDCDCD;
  background-color:#ffff97;
  white-space:no-wrap;
  overflow: hidden;
}

.viewerTextarea_error
{
  width: 400px;
  height: 250px;
  border-width: 1px;
  border-style: solid;
  border-color: #CDCDCD;
  background-color:red;
  white-space:no-wrap;
  overflow: hidden;
}

body
{
  margin:0 ;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
